---
export async function getStaticPaths() {
  const data = await fetch(
    "https://kffcbwrcxxuhowdxhsie.supabase.co/rest/v1/CLF",
    {
      method: "GET",
      headers: {
        apikey:
          "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImtmZmNid3JjeHh1aG93ZHhoc2llIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MTA3NjU0OTcsImV4cCI6MjAyNjM0MTQ5N30.OEn20IXE7GiqVuiss_Di2sNjpDGwMbCS_hC_B8qSZGM",
      },
    }
  ).then((response) => response.json());

  return data.map((single) => {
    return {
      params: { slog: single.slog },
      props: { single },
    };
  });
}

const { single } = Astro.props;
console.log("single er", single);

import Header from "../../components/Header.astro";
import Nyhed from "../../components/Nyhed.astro";
import Bg_icon from "../../components/Bg_icon.astro";
import Footer from "../../components/Footer.astro";
import Topknap from "../../components/Topknap.astro";
import TopknapMobile from "../../components/Topknap_mobile.astro";
import FooterMobile from "../../components/Footer_mobile.astro";
import Header_mobile from "../../components/Header_mobile.astro";
import Single_card from "../../components/Single_card.astro";
import "../../styles/style.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <Header />
    <Header_mobile />
    <Nyhed />

    <!-- <Bg_icon h1={myData.title} /> -->

    <a href="/program">Tilbage til program</a>
    <section class="grid_1-5-1-4-1">
      <img src={single.image} alt="billede" />
      <article>
        <p><strong>Af:</strong>{single.artist}</p>
        <p><strong>Hvor:</strong> {single.location}</p>
        <p>
          <div>
            {single.description}
          </div>

          <p><strong>Lys:</strong> {single.light}</p>
          <p><strong>Musik:</strong> {single.music}</p>
          <p><strong>Links:</strong> {single.link}</p>
          <p>
            <strong>Tak til:</strong>
            {single.credit}
          </p>
        </p>
      </article>
    </section>

    <div id="tiltoppen">
      <Topknap />
    </div>
    <TopknapMobile />
    <Footer />
    <FooterMobile />
  </body>
</html>

<style>
  strong {
    color: var(--link-visited);
  }

  p {
    max-width: 65ch;
    color: var(--primary-text-color);
  }

  div {
    max-width: 65ch;
    color: var(--primary-text-color);
  }

  .grid_1-5-1-4-1 {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr 4fr 1fr;
  }

  article {
    grid-column: 4/5;
  }

  img {
    grid-column: 2/3;
    width: 100%;
  }
  #tiltoppen {
    max-width: fit-content;
    margin-top: -10rem;
    margin-bottom: 5rem;
  }
</style>
